.SwapBox-collateral-tooltip-text {
  font-weight: normal;
}

.Exchange-swap-box-inner.App-box-highlight {
  background-color: #070707;
}

.Exchange-swap-input-container-tokenselector {
  font-size: 2.1rem;
}